@import "node_modules/modern-normalize/modern-normalize.css";

@font-face {
    font-family: "Montserrat";
    src: url("public/fonts/Montserrat-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("public/fonts/Montserrat-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url('public/fonts/Montserrat-Regular.woff2') format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("public/fonts/Montserrat-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("public/fonts/Montserrat-ExtraBold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
}

:root {
    --font-family: Montserrat, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --main-blue: #003cf6;
    --main-white: #FFFFFF;
    --main-black: #000000;
    --main-yellow: #FFEE02;
    --main-page-bg: #EEE;
    --content-bg: #FAFBFC;
}

main {
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li {
    font-family: var(--font-family), sans-serif;
    margin: 0;
    padding: 0;
}

p {
    font-family: var(--font-family), sans-serif;
    font-size: 14px;
    font-weight: 500;

    @media screen and (min-width: 768px) {
        font-size: 16px;
    }
}

input {
    padding: 0;
}

figure {
    margin: 0;
    width: 100%;
}

img {
    display: block;
    width: 100%;
}

ul,
ol {
    list-style: none;
}

a {
    font-family: var(--font-family), sans-serif;
    text-decoration: none;
}

button {
    cursor: pointer;
    background: transparent;
    margin: 0;
    padding: 0;
    font-family: var(--font-family), sans-serif;
}

.is-hidden {
    display: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
}
